*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: black;

}

/* .main{ */
    /* position: relative; */
    /* width: 100%; */
    /* background-color: black; */
/*     
    height: 100%;
}

.parent { 
    position: relative;
overflow: hidden; */
    /* background-color: black; */
/* background-image: url(https://image.shutterstock.com/image-photo/female-hand-pulling-book-bookshelf-260nw-2148378381.jpg); */
    /* opacity: 0.5; */
    /* height:40%;
    width: 40%; */
    /* transition: all ease 0.5s; */
    /* position: absolute; */
/* } */

.child{
    width: 100%;
    height: 40%;
    background-color: rgba(18, 17, 17, 0.5);
    position: absolute;
    text-align: center;
    top: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent:hover .child{
    top: 0;
    transition: all ease 0.5s;
    

} 
/* .header{
    display:grid;
    grid-template-areas: 'a a u u b b'
                         'a a u u b b'
                         'c r r l l d'
                         'c r r l l d'
                         'c e k k f d'
                         'c e k k f d'
    
    ;
    height: 100%;
    width: 100%;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    padding: 1em;
    gap: 1em;
    position: relative;
    border: 2px solid white;
    
} */

.upper{
    grid-area: u;
    position: absolute;
    background-size: cover;
    /* background-color: aqua; */
    background-image: url(https://plus.unsplash.com/premium_photo-1761577741394-1ddd055918dd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);


width: 100%;
height: 100%;

  position: absolute;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;

/* border: 2px solid purple; */

}

.right{
    grid-area: r;
    /* background-color: rgb(0, 255, 85); */
    background-image: url(https://images.unsplash.com/photo-1759981644222-131cc5065b01?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExfEpwZzZLaWRsLUhrfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&q=60&w=600);


width: 100%;
height: 100%;

  position: absolute;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;


}
.left{
    grid-area: l;
    /* background-color: rgb(255, 140, 0); */
    background-image: url(https://images.unsplash.com/photo-1735172700713-0d273f6dba84?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);


width: 100%;
height: 100%;

  position: absolute;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;


}
.down{
    grid-area: k;
    /* background-color: aqua; */
    background-image: url(https://images.unsplash.com/photo-1761340917168-0cba92b6a592?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);


width: 100%;
height: 100%;

  position: absolute;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;



}

@media (max-width: 308px){
    .header{
        grid-template-areas: 'x x'
        'p p'
        'm m'
        'z z';

        /* height:100%*/
        /* width: ; */

/* align-items: center; */
/* position: absolute; */
    }
    .down{
        grid-area: z;
        /* background-size: auto; */
    }
    .upper{
        grid-area: x;
        /* position: relative; */
        /* display: flex;
justify-content: center; */
/* width: 100%; */
    }
    .right{
        grid-area: p;
    }
    .left{
        grid-area: m;
    }
}

/* @media (max-width:800px){
    .header{
        grid-template-areas: 'x x''x x'
        'p p' 'p p'
        'm m' 'm m'
        'z z' 'z z';

        height: 99rem;
    }
    .down{
        grid-area: z;
    }
    .upper{
        grid-area: x;
    }
    .right{
        grid-area: p;
    }
    .left{
        grid-area: m;
    }
} */